
/* Imports the poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --main-color: #e9a209;
    --text-color: #000000;
    --bg-color-01: #fff9ea;
    --bg-color-02: #ffffff;

    /* Extra */
    --color-01: #999999;
    --color-02: #009539;
    --color-03: #7950f2;
    --color-04: #c00000;
    --color-05: #232323;
}

span {
    color: var(--main-color);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color-01);
}

section {
    padding: 28px 6%;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
}

.btn-default:hover {
    background-color: #f8d477;
}

.social-media-buttons {
    display: flex;
    gap: 18px;
}

.social-media-buttons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: solid 0.15rem var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 1.8rem 0.5rem 1.8rem 0;
    transition: 0.5s ease;
}

.social-media-buttons a:hover {
    background-color: var(--main-color);
    color: var(--bg-color-01);
    box-shadow: 0 0 0.3rem var(--main-color);
}

.section-title {
    color: var(--main-color);
    font-size: 1.563rem;
}

.section-subtitle {
    font-size: 2.1874rem;
}